<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/table.css">
    <script src="public/script.js"></script>
    <title>Dashboard</title>
</head>
<body>
<header class="menu">
    <button class="btn color-3" onclick="setTab('sendNewMessage');">
        Send new message
    </button>
    <button class="btn color-3" onclick="setTab('inbox');">
        Inbox
    </button>
    <button class="btn color-3"
            onclick="setTab('sent');">
        Sent
    </button>
    <button class="btn color-3" onclick="setTab('friends');">
        Friends
    </button>
</header>
<div class="tabs" hidden id="sendNewMessage">
    <form id="message" action="" method="post">
        <h3>Send new message</h3>
        <fieldset>
            <select name="messageType" class="fields" id="messageType" required autofocus>
                <option value="">-- Choose message type --</option>
                <option value="1">To a friend</option>
                <option value="2">To all friends</option>
                <option value="3">To a group of users</option>
            </select>
        </fieldset>
        <fieldset>
            <input class="fields" id="usernames" placeholder="Username(s) - comma separated" type="text">
        </fieldset>
        <fieldset>
            <textarea class="fields" id="messageText" placeholder="Type your message here...." required></textarea>
        </fieldset>
        <fieldset>
            <button class="btn" name="submit" type="submit" id="sendMessage" data-submit="...Sending">Send</button>
        </fieldset>
    </form>
</div>
<div class="tabs" hidden id="inbox">
    <div class="inboxMessages">
        <div>
            <label>Search</label>
            <input type="text" name="searchTag" class="searchTag"></input>
        </div>

        <table cellspacing="0">
            <tr id="tableHeader">
                <th width="200">From</th>
                <th>Message</th>
            </tr>

            <tr>
                <td>Jane Doe</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
            </tr>

            <tr>
                <td>John Doe</td>
                <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
            </tr>

            <tr>
                <td>Jane Smith</td>
                <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
            </tr>

            <tr>
                <td>John Smith</td>
                <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
            </tr>
        </table>
    </div>
</div>
<div class="tabs" hidden id="sent">
    Sent
</div>
<div class="tabs" hidden id="friends">
    Friends
</div>
</body>
</html>